---
// Comp imports
import MainLayout from "../../layouts/MainLayout.astro";
import AuthorList from "../../components/AuthorList.astro";

---

<MainLayout title="Authors"> 
<div>
    <h2 class="h1">List of authors</h2>
    <AuthorList />
</div>
</MainLayout>