---
import MainLayout from "../layouts/MainLayout.astro";
const obj = {
	name: "asd",
	age: 18,
	fav: ["lol", "cs", "valo"]
}
---

<MainLayout title="Index Page">
	<h1> This is the index page </h1>
</MainLayout>
