---
// Component import
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";

// Utils import
import { formatBlogPosts } from "../js/utils";

const allPost = await Astro.glob("./blog/*.md")
const formattedPosts = formatBlogPosts(allPost, {
	limit: 3
});
---

<MainLayout title="Index Page">
	<p>Index page</p>
	<!-- <section class="container" aria-label="Blog Posts">
		<h2 class="h1">New Blog Posts</h2>
		<div class="post-container">
			{
				formattedPosts.map((post) => <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h3" />)
			}
		</div>
	</section> -->
</MainLayout>
