---
// Utils 
import { formatBlogPosts, slugify } from "../js/utils";

const allPost = await Astro.glob("../pages/blog/*.md")
const formattedPosts = formatBlogPosts(allPost);

const allCategories = formattedPosts.map((cat) => cat.frontmatter.category.toLowerCase()).flat();

const processeCats = allCategories.reduce((acc, category) => {
    // Check for category in object, if it dosent exist assign 0 as its value
    const value = acc[category] || 0;

    // If category dosent exist spread object and add this category to given object
    // If category exists, add 1 to its number of appearance
    return {
        ...acc,
        [category]: value + 1
    }
}, {})

const { showCount } = Astro.props;

---

<ul class="categories">
    {
        Object.entries(processeCats).map(([key, val]) => (
            <li>
                <a href={`/category/${slugify(key)}`} class="badge">{key} {showCount && `(${val})`}</a>
            </li>
        ))
    }
</ul>